.App{
    max-width: 1000px;
    margin: auto auto;
    text-align: center;
    border-bottom: 1px solid black;
}
.App h1, button{
    display: inline-block;
    vertical-align: bottom;
    
}
.App button{
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 5px
}
.form{
    width: 500px;
    margin: auto auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    
}
.button{
    width: 460px;
}
.errormessage{
    background-color: red;
    color: white;
}
.filter{
    margin-top: 20px;
}
.row{
    width: 150px;
}
.table{
    width:500px;
    margin: auto auto;
    border: 2px solid black;
}
.repolist th{
    font-weight: bold;
    color: black;
    font-size: 16px;
}
.repolist td{
    text-decoration: underline;
}
.table{
    width: 500px;
    margin: auto auto;
    margin-bottom: 50px;
}